body {
    background: #303030;
    color: #ddffff;
    text-shadow: 0px 0px 4px rgba(15, 15, 15, 1);
}

input[type="range"] {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    border: 2px solid #232323;
    box-shadow: inset 0 0 4px #222222;
    background: #383838;
    -webkit-appearance: none; /*Fix para Chrome*/
}

    input[type='range']::-moz-range-thumb {
        background: rgba(44,191,248,1);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        border: 6px solid #222222;
        border-radius: 10px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        cursor: pointer;
    }

    input[type='range']::-moz-range-track {
        border-radius: 5px;
        background: transparent;
        height: 10px;
        border: none;
    }

    /* Fix: versión para chrome*/
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: rgba(44,191,248,1);
        width: 20px;
        height: 20px;
        border: 6px solid #222222;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        margin-top: -4px;
        cursor: pointer;
    }

@keyframes animarfondo {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 100% 100%;
    }
}

.mplayer_body {
    width: 860px;
    height: 550px;
    margin: 20px auto;
    padding: 15px;
    background: #202020;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(15, 15, 15, 1), inset 0 0 160px rgba(45,45,45,0.9);
}

section.mplayer_leftside, section.mplayer_rightside {
    /* background: rgba(45,45,45,0.75); 
    box-shadow: inset 0px 0px 12px 0px rgba(45, 45, 45, 0.75); */
    padding: 10px;
    height: 70% !important;
}

section.mplayer_leftside {
    float: left;
    width: 37%;
}

    section.mplayer_leftside img {
        display: block;
        width: 90%;
        height: 60%;
        margin: 0 auto;
        background: #2a9fd6;
    }

    section.mplayer_leftside > h5 {
        color: #2a9fd6;
    }

    section.mplayer_leftside > h5, .mplayer_leftside > h6 {
        text-align: center;
        text-transform: lowercase;
    }

        section.mplayer_leftside > h5::first-letter, section.mplayer_leftside > h6::first-letter {
            text-transform: uppercase;
        }

section.mplayer_rightside {
    width: 61%;
}

section.mplayer_rightside, section.mplayer_areabuttons {
    float: right;
}

    section.mplayer_rightside > .mplayer_display ul {
        list-style: none;
        padding: 0;
        height: 90px;
    }

.mplayer_display ul li {
    text-transform: lowercase;
    font-size: 14px;
}

    .mplayer_display ul li::first-letter {
        text-transform: uppercase;
    }

    .mplayer_display ul li:first-child {
        font-weight: bolder;
        line-height: 1.4;
        font-size: 18px !important;
        color: #2a9fd6;
    }

    .mplayer_display ul li:last-child {
        margin-top: 15px;
        font-size: 11px;
    }

section.mplayer_rightside > .mplayer_filelist {
    overflow: hidden;
    max-height: 75%;
    list-style: none;
    padding: 0;
    margin-left: 6px;
}

    section.mplayer_rightside > .mplayer_filelist li {
        width: 100%;
        line-height: 25px;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        color: #cecece;
        padding: 5px;
        border-radius: 7px;
        text-shadow: 0px 0px 4px rgba(15, 15, 15, 1);
    }

        section.mplayer_rightside > .mplayer_filelist li:hover {
            transition: all .6s ease-out;
            background: #2a9fd6 !important;
            color: navy;
            text-shadow: none;
        }

        section.mplayer_rightside > .mplayer_filelist li span {
            display: inline-block;
            vertical-align: bottom;
        }

            section.mplayer_rightside > .mplayer_filelist li span:first-child {
                width: 85% !important;
                cursor: pointer;
            }

            section.mplayer_rightside > .mplayer_filelist li span:last-child {
                width: 3% !important;
                margin-left: 4px;
                text-align: right;
                cursor: pointer;
            }

.mplayer_body > .mplayer_areabuttons {
    width: 100%;
    height: 23%;
}

.mplayer_areabuttons > .mplayer_options {
    margin-top: 15px;
    width: 100%;
}

    .mplayer_areabuttons > .mplayer_options span, .mplayer_areabuttons > .mplayer_options input[type="range"] {
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        margin-left: 6px;
    }

    .mplayer_areabuttons > .mplayer_options span {
        width: 10%;
        font-size: 10px;
        color: white;
        text-shadow: 0px 0px 4px rgba(15, 15, 15, 1);
    }

        .mplayer_areabuttons > .mplayer_options span:first-child {
            text-align: right;
        }

        .mplayer_areabuttons > .mplayer_options span:last-child {
            text-align: left;
        }

    .mplayer_areabuttons > .mplayer_options input[type="range"] {
        text-align: center;
        width: 75%;
    }

.mplayer_areabuttons > .mplayer_controls {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    line-height: 28px;
}

    .mplayer_areabuttons > .mplayer_controls span {
        display: block;
        font-size: 20px;
        color: #2A9ED6;
    }

        .mplayer_areabuttons > .mplayer_controls span:hover {
            cursor: pointer;
            color: #7AC4E8;
        }

        .mplayer_areabuttons > .mplayer_controls span#reproducir {
            font-size: 26px;
            line-height: 1.5 !important;
        }

        .mplayer_areabuttons > .mplayer_controls span#repro_volume {
            position: relative;
        }

            .mplayer_areabuttons > .mplayer_controls span#repro_volume input[type="range"] {
                display: none;
                position: absolute;
                top: -45px;
                left: -25px;
                transform: rotate(-90deg);
                width: 60px;
            }
.mplayer_mixer {
}

.mplayer_volume {
    height: 28%;
    padding: 5px;
    margin-left: 10px;
}

.mplayer_mixer {
    height: 72%;
}

.nav-tabs, .tab-content {
    margin-left: auto;
    margin-right: auto;
}

.mplayer_mixer ul li a {
    font-size: 9px !important;
}



.mplayer_mixer_controls {
    background: orange;
    height: 20px;
    margin-top: 10px;
    font-size: 10px;
}

.mplayer_eq {
    margin-top: 15px;
}

    .mplayer_eq div {
        width: 100%;
    }

        .mplayer_eq div:first-child {
            font-size: 10px;
            margin-left: 12px;
            margin-top: 5px;
            display: inline-block;
            vertical-align: middle;
        }

            .mplayer_eq div:first-child > select, .mplayer_playlists {
                width: 60%;
                margin-right: 10px;
                color: black;
            }

        .mplayer_eq div:last-child {
            padding-top: 15px;
            display: flex;
            align-content: center;
            justify-content: space-around;
        }

    .mplayer_eq input[type="range"] {
        width: 10px;
        height: 100px;
        margin: 10px auto;
    }

    .mplayer_eq span {
        text-align: center;
        font-size: 10px;
    }

.modal-body {
    color: #bbb;
}
